.container {
  text-align: center;
}

.badge {
  position: relative;
  margin: 1.2rem 2rem;
  width: 6rem;
  height: 8.2rem;
  border-radius: 25px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
}
.badge:before,
.badge:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.badge:before {
  transform: rotate(60deg);
}
.badge:after {
  transform: rotate(-60deg);
}
.badge:hover {
  top: -4px;
}
.badge .circle {
  width: 80px;
  height: 80px;
  position: absolute;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.badge .circle svg {
  font-size: 3.5rem;
  margin-top: 8px;
}

/* Progress */
.bar {
  position: absolute;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  overflow: hidden;
  z-index: 11;
  bottom: 12px;
  left: 55%;
  bottom: 7%;
  margin-left: -63px;
  background: var(--color-light);
  cursor: default;
}
.bar .fill {
  position: absolute;
  z-index: 2;
  height: 100%;
  background: var(--color-bg-variant);
  transition: 0.1s linear;
  overflow: hidden;
}
.bar .fill .text {
  width: 120px;
  z-index: 3;
  color: var(--color-white);
}
.bar .text {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-bg-variant);
}
/* Progress */

.yellow {
  background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
  color: #ffb300;
}

.orange {
  background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
  color: #f68401;
}

.pink {
  background: linear-gradient(to bottom right, #f48fb1 0%, #d81b60 100%);
  color: #dc306f;
}

.red {
  background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
  color: #c62828;
}

.purple {
  background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
  color: #7127a8;
}

.teal {
  background: linear-gradient(to bottom right, #4db6ac 0%, #00796b 100%);
  color: #34a297;
}

.blue {
  background: linear-gradient(to bottom right, #4fc3f7 0%, #2196f3 100%);
  color: #259af3;
}

.blue-dark {
  background: linear-gradient(to bottom right, #1976d2 0%, #283593 100%);
  color: #1c68c5;
}

.green {
  background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%);
  color: #7cb342;
}

.green-dark {
  background: linear-gradient(to bottom right, #4caf50 0%, #1b5e20 100%);
  color: #00944a;
}

.silver {
  background: linear-gradient(to bottom right, #e0e0e0 0%, #bdbdbd 100%);
  color: #9e9e9e;
}

.gold {
  background: linear-gradient(to bottom right, #e6ce6a 0%, #b7892b 100%);
  color: #b7892b;
}

/* ====================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
/* @media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experience__backend,
  .experience__frontend {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
} */

/* ====================== MEDIA QUERIES (SMALL DEVICES) ====================== */
/* @media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experience__backend,
  .experience__frontend {
    width: 100%;
    padding: 2rem 1rem;
  }
} */
