.timeline__container ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  margin-inline: auto;
}

/* line */
.timeline__container ul::before {
  content: '';
  grid-column: 1;
  grid-row: 1 / span 20;
  background: var(--color-white);
  border-radius: calc(var(--line-w) / 2);
  margin-top: 4px;
}

/* columns*/

/* row gaps */
.timeline__container ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline__container ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.timeline__container ul li .timeline__date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: grid;
  place-content: center;
  position: relative;
  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/*.timeline__date flap */
.timeline__container ul li .timeline__date::before {
  content: '';
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--color-primary);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.timeline__container ul li .timeline__date::after {
  content: '';
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--color-bg-variant);
  border: 0.3rem solid var(--color-primary);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

.timeline__container ul li .timeline__title,
.timeline__container ul li .timeline__descr {
  background: var(--color-primary-variant);
  position: relative;
  padding-inline: 1.5rem;
}

.timeline__container ul li .timeline__title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 0.5rem;
}

.timeline__container ul li .timeline__descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.timeline__container ul li .timeline__title::before,
.timeline__container ul li .timeline__descr::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}

.timeline__container ul li .timeline__title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline__container ul li .timeline__descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

/* ====================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media (min-width: 40rem) {
  .timeline__container ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }

  .timeline__container ul::before {
    grid-column: 2;
  }

  .timeline__container ul li:nth-child(odd) {
    grid-column: 1;
  }

  .timeline__container ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .timeline__container ul li:nth-child(2) {
    grid-row: 2/4;
  }

  .timeline__container ul li:nth-child(odd) .timeline__date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .timeline__container ul li:nth-child(odd) .timeline__date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }

  .timeline__container ul li:nth-child(odd) .timeline__date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

/* ====================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  .timeline__container ul {
    margin-left: 1rem;
  }
}
